svg {
  border: 1px solid white;
}

.demotooltip {
  position: absolute;
  max-width: 400px;
  padding: 2px;
  margin-top: -20px;
  pointer-events: none;
  background-color: lightblue;
  opacity: 0.6;
}

.jumbotron {
  position: static;
	font-family: 'Fira Mono', monospace;
	color: gray;
  width: 100%;
  background-image: url('his-hers.jpg');
  background-size: 1425px;
  background-repeat: no-repeat;
/*  background-position: 10% 50%;*/
}

.icons-div {
  display: inline;
  position: relative;
  top: -295px;
  left: 675px;
}

.heart {
  height: 35px;
  margin-left: 10px;
}

.laptop {
  height: 35px;
}

.display-5 {
	font-weight: bold;
  padding-top: 250px;
  padding-left: 50px;
}

.lead {
  padding-left: 50px;
  padding-bottom: 200px;
  padding-top: 0px;
}

#demographics-div {
  float: left;
  position: sticky;
  top:100px;
  margin-right: 5px;
  margin-left:20px;
}

#content{
  padding-right: 5%;
  padding-left: 5px;
  float: right;
  width: 35%;
}

h2 {
  font-family: 'Fira Mono', monospace;
}

canvas{
  border: 3px solid black;
}

body {
	color: black;
}
