svg {
  border: 1px solid black;
}

.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  max-widht: 200px;
  min-height: 100px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
