svg {
  border: 1px solid white;
}

.demotooltip {
  position: absolute;
  max-width: 400px;
  padding: 2px;
  margin-top: -20px;
  pointer-events: none;
  background-color: lightblue;
  opacity:0.6;
}

.jumbotron {
	font-family: 'Fira Mono', monospace;
	color: white;
}

.icons-div {
  display: inline;
}

.display-5 {
	font-weight: bold;
}

#demographics-div {
  float: left;
  position: sticky;
  margin-right: 5px;
  margin-left:20px;
}

#content{
  padding-right: 5%;
  padding-left: 5px;
  float: right;
  width: 55%;
}

canvas{
  border: 3px solid black;
}

body {
	color: black;
}
